name: Metrics

on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: antonioCAGF
          template: classic
          filename: github-metrics.svg

          base: header, activity, community

          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8

          config_timezone: America/Sao_Paulo

          extras_css: |
            svg { background: #0B1220; }
            h1, h2 { color: #FFD43B !important; }
            .field, .subtitle, .label { color: #E5E7EB !important; }
            a, .link { color: #60A5FA !important; }
            .separator { opacity: .35; }
